#detailProductContainer{
    display: flex;
    flex-direction: column;
    height:  100vh;
    background-color: #fffffff4;
}
#imageAndNameProductContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex:0.65;
}
#productImageContainer{
    height: 85%;
    flex:1;
    padding: 10px;
    margin: 10px;
}
#productImage_D{
    width: 100%;
    padding: 0px;
    margin: 0px;
    object-fit: cover;
}

#productNameAndRatingContainer{
    height: 45%;
    margin: 10px;
    padding: 10px;
    flex:1;
    display: flex;
    flex-wrap: wrap;
}
#productName_D{
    font-size: xx-large;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}
#otherDetailContainer{
    display: flex;
    flex-direction: column;
    flex:0.55;
    padding: 10px;
    margin: 20px 0px;
}
#productDescription{
    padding:10px;
    margin:6px 8px;
    background-color: rgb(244, 244, 240);
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#productCategory{
    background-color: grey;
    color: white;
    border-radius: 30px;
    padding:7px 9px;
    margin: 10px;
    width:fit-content;
}
#productRating{
    font-size: large;
    font-weight: 500;
    padding:5px;
    margin: 5px;
}