#navbarContainer{
    background-color:#1A3263;
    display: flex;
    justify-content: center;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

#leftContainer{
    display: flex;
    justify-content: flex-start;
    width: 50%;
}
#searchField{
    height: 50%;
    width: 50%;
    padding:5px;
    margin: 10px;
    border: soid grey 1px;
    border-radius: 10px;
}
#rightContainer{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
.navbarLinks{
    color: rgb(235, 228, 228);
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    font-weight: 500;
}
.navbarLinks:hover{
    transform: scale(1.1) translateY(-1px);
    color:#FAB95B;
}
