#productContainer{

    background-color: #E8E2DB;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 260px;
    max-height: 260px;
    min-width: 200px;
    max-width: 200px;
    border-radius: 10px;
    padding: 5px;
    margin: 8px;
    justify-items: center;
    align-items: center;


}

#productName{
    padding: 5px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#productImage{
    object-fit: cover;
    height: 150px;
    width: 150px;
    margin: 10px;
    padding:10px

}
