#productContainer{

    background-color: rgb(239, 233, 233);
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 250px;
    max-height: 250px;
    min-width: 300px;
    max-width: 300px;
    border: solid rgb(8, 8, 50) 2px;
    border-radius: 10px;
    padding: 5px;
    margin: 8px;
    justify-items: center;
    align-items: center;


}
#productContainer:hover{
    transform: translateY(-2px);
    transform: scale(1.1);
    margin: 12px;
}
#productName{
    padding: 5px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#productImage{
    object-fit: cover;
    height: 150px;
    width: 150px;
    margin: 10px;
    padding:10px

}
