*{
    margin:0px;
    padding:0px;
}
.container:nth-of-type(odd)
{   display: flex;
    flex-direction: row;
     justify-content:flex-start;
     align-items:center;
     width: 99%;
     background-color: rgb(55, 52, 52);
     color: rgb(237, 218, 218);
     border-radius: 10px;
     margin: 2px;
}
.container:nth-of-type(even)
{   display: flex;
    flex-direction: row;
     justify-content:flex-start;
     align-items:center;
     width: 99%;
     background-color: rgb(81, 76, 76);
     color: rgb(229, 229, 229);
     border-radius: 10px;
     margin: 2px;
}
#imageContainer{
    flex:35;
}

#image{
    width: 90%;
    height: 180px;
    margin:10px;
    border:grey solid 1px;
    border-radius: 10px;
    object-fit: center;
}

#detailContainer{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    flex:60
}

#title{
    font-size: 2rem;
    flex: 1;

}

#description{
    font-size: 1rem;
    font-size: 15px;
}
#likeContainer{
    font-size: 32px;
    flex:5;
}
#heart{
    cursor: pointer;
}